@import "tailwindcss";

:root {
  /* Primary Colors */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  /* Neutral Colors */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

@theme inline {
  --color-green-500: var(--green-500);
  --color-green-700: var(--green-700);

  --color-black: var(--black);
  --color-grey: var(--grey);
  --color-cream: var(--cream);
  --color-white: var(--white);

  --font-montserrat: var(--font-montserrat);
  --font-fraunces: var(--font-fraunces);
}

ิbody {
  min-height: 100dvh;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
